@model WebApplication3.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] imagePaths = { Model.Image1, Model.Image2, Model.Image3, Model.Image4, Model.Image5, Model.Image6, Model.Image7, Model.Image8, Model.Image9, Model.Image10 };
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePostedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePostedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePostedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterId)
        </dd>
        @foreach (var p in imagePaths)
        {
          if (p != "blankImage.jpg")
          {
            <dt class="col-sm-2">
              Uploaded Image
            </dt>
            <dd class="col-sm-10">
              <img src="@("~/image/"+p)" asp-append-version="true" width="150px" height="150px" />
            </dd>
          }
        }
    </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
  <a asp-action="Index">Back to List</a> |
  <a asp-action="UserItems" asp-route-id="@Model.PosterId">More From User</a>
</div>
